@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
  padding-top: 70px;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

p, li {
  line-height: 1.5;
}

pre, code {
  font-family: 'Ubuntu Mono';
}

.red {
  color: red;
}

.post-meta {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  border-color: rgba(0, 39, 59, .08);
}

.post .sharing {
  margin-top: 30px;
  border-bottom: 2px solid;
  border-color: rgba(0, 39, 59, .08);
  padding-bottom: 10px;
}

#disqus_thread {
  margin-top: 50px;
}

.label-blank {
  background-color: #dddddd;
  color: #777777;
  /*border: 1px solid silver;*/
}



