/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif);*/
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(/fonts/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

/*@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);*/

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(/fonts/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format('woff');
}

/*@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);*/
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(/fonts/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(/fonts/ceqTZGKHipo8pJj4molytjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url(/fonts/KAKuHXAHZOeECOWAHsRKA9kZXW4sYc4BjuAIFc1SXII.woff) format('woff');
}

body {
  font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

p, li {
  line-height: 1.5;
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono', "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 20px;
}

.remark-slide-number {
  font-size: 15px;
}

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

a, a > code {
  /*color: rgb(249, 38, 114);*/
  color: #0055aa;
  text-decoration: none;
}

.red {
  color: #fa0000;
}

.grey {
  color: #555555;
}

img[alt="jruby-bird"] {
  width: 20%
}

img[alt="dynflow"] {
  width: 30%
}

img[alt="katello"], img[alt="foreman"] {
  width: 40%
}

.fit img {
  width: 100%;
}

#slide-jruby {
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 25%;
}

ul code, pre code, p code {
  -moz-border-radius: 3px;
  -web-border-radius: 3px;
  border-radius: 3px;
  background: #e7e8e2;
  border: 1px solid silver;
}

ul code, p code {
  padding: 3px 3px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-right ~ p {
  clear: both;
}


