/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400);*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic);

body {
    font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu Condensed', sans-serif;
    /*font-family: 'Yanone Kaffeesatz';*/
    font-weight: 400;
}

.remark-code, .remark-inline-code, .code {
    font-family: 'Ubuntu Mono', monospace;
}

p, li {
    font-weight: 400;
}

li p {
    margin: 0;
}

li, li pre {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remark-slide-number {
    font-size: 10px;
}

.inverse {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2, .inverse a {
    color: #f3f3f3;
    line-height: 0.8em;
}

a, a > code {
    /*color: rgb(249, 38, 114);*/
    color: #0055aa;
    text-decoration: none;
}

.red {
    color: #dc322f;
}

.green {
    color: #859900;
}

.yellow {
    color: #b58900;
}

.grey {
    color: #555555;
}

.purple {
    color: #800080;
}


.blue {
    color: #268bd2;
}

ul code, pre code, p code {
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    padding: 2px 4px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pull-right ~ p {
    clear: both;
}

.center table {
    margin-left: auto;
    margin-right: auto;
}

.nice-table table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.nice-table table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.nice-table table td,
.nice-table table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}
.nice-table table td:first-child,
.nice-table table th:first-child {
    border-left-width: 0;
}

.nice-table table thead {
    background: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
    background-color: transparent;
}
.pure-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-bordered tbody > tr:last-child td,
.pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

